{% extends "dashboard/main.html" %}
{% block title %}Upcoming Events{% endblock title %}
{% block main %}

<div class="upcoming-events mb-10">
    <h1 class="text-center text-[30px] font-semibold  mt-12 mb-6">Up Coming Events</h1>
    <div class="md:w-[1160px] mx-auto md:px-0 px-4 ">
        <div class="event-box md:grid md:grid-cols-3 gap-6 space-y-4 md:space-x-6">
        <div class="eb  border border-white shadow-lg p-4  shadow-gray-400 ">
            <img class="shadow-2xl border border-green-950" src="Hero-1.webp" alt="">
            <h1>Name: xyz</h1>
            <h1>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus id nesciunt aperiam saepe culpa. Animi eius, aliquam nesciunt voluptatum nihil quia facilis a laudantium placeat sed soluta aut quasi eos.
            </h1>
            <h1>Date: 27 July, 2025</h1>
            <h1>Time: 2:00PM</h1>
            <h1>Location: Sylhet</h1>
            <h1>Category: Sports</h1>

        </div>
        <div class="eb border  border-white shadow-lg p-4   shadow-gray-400 ">
            <img class="shadow-2xl border border-green-950" src="Hero-1.webp" alt="">
            <h1>Name: xyz</h1>
            <h1>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus id nesciunt aperiam saepe culpa. Animi eius, aliquam nesciunt voluptatum nihil quia facilis a laudantium placeat sed soluta aut quasi eos.
            </h1>
            <h1>Date: 27 July, 2025</h1>
            <h1>Time: 2:00PM</h1>
            <h1>Location: Sylhet</h1>
            <h1>Category: Sports</h1>

        </div>
        <div class="eb border border-white shadow-lg p-4  shadow-gray-400 ">
            <img class="shadow-2xl border border-green-950" src="Hero-1.webp" alt="">
            <h1>Name: xyz</h1>
            <h1>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus id nesciunt aperiam saepe culpa. Animi eius, aliquam nesciunt voluptatum nihil quia facilis a laudantium placeat sed soluta aut quasi eos.
            </h1>
            <h1>Date: 27 July, 2025</h1>
            <h1>Time: 2:00PM</h1>
            <h1>Location: Sylhet</h1>
            <h1>Category: Sports</h1>

        </div>
        <div class="eb border  border-white shadow-lg p-4  shadow-gray-400 ">
            <img class="shadow-2xl border border-green-950" src="Hero-1.webp" alt="">
            <h1>Name: xyz</h1>
            <h1>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus id nesciunt aperiam saepe culpa. Animi eius, aliquam nesciunt voluptatum nihil quia facilis a laudantium placeat sed soluta aut quasi eos.
            </h1>
            <h1>Date: 27 July, 2025</h1>
            <h1>Time: 2:00PM</h1>
            <h1>Location: Sylhet</h1>
            <h1>Category: Sports</h1>

        </div>
       <div class="eb border  border-white shadow-lg p-4  shadow-gray-400 ">
            <img class="shadow-2xl border border-green-950" src="Hero-1.webp" alt="">
            <h1>Name: xyz</h1>
            <h1>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus id nesciunt aperiam saepe culpa. Animi eius, aliquam nesciunt voluptatum nihil quia facilis a laudantium placeat sed soluta aut quasi eos.
            </h1>
            <h1>Date: 27 July, 2025</h1>
            <h1>Time: 2:00PM</h1>
            <h1>Location: Sylhet</h1>
            <h1>Category: Sports</h1>

        </div>
        <div class="eb border  border-white shadow-lg p-4  shadow-gray-400 ">
            <img class="shadow-2xl border border-green-950" src="Hero-1.webp" alt="">
            <h1>Name: xyz</h1>
            <h1>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus id nesciunt aperiam saepe culpa. Animi eius, aliquam nesciunt voluptatum nihil quia facilis a laudantium placeat sed soluta aut quasi eos.
            </h1>
            <h1>Date: 27 July, 2025</h1>
            <h1>Time: 2:00PM</h1>
            <h1>Location: Sylhet</h1>
            <h1>Category: Sports</h1>

        </div>
       <div class="eb border  border-white shadow-lg  shadow-gray-400 p-4">
            <img class="shadow-2xl border border-green-950" src="Hero-1.webp" alt="">
            <h1>Name: xyz</h1>
            <h1>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus id nesciunt aperiam saepe culpa. Animi eius, aliquam nesciunt voluptatum nihil quia facilis a laudantium placeat sed soluta aut quasi eos.
            </h1>
            <h1>Date: 27 July, 2025</h1>
            <h1>Time: 2:00PM</h1>
            <h1>Location: Sylhet</h1>
            <h1>Category: Sports</h1>

        </div>
    </div>
    </div>
</div>

{% endblock main %}